QQ/*
qv2ra*
V2Ray*
Virtu*
Code/*
*.log*
ficix*
github-copilot*
Typora*
OpenMV
openmv
rustdesk
alacritty/themes
microsoft*
qqmusic/*
obs*
nekoray/*
clash/*
*/cache/*
libre*
menus
kate
ibus
discord
balena*
baidunet*
