QQ/*
qv2ra*
V2Ray*
Virtu*
Code/*
*.log*
ficix*
github-copilot*
kde.org*
jlc-assistant/
GIMP
latte*
session
*.latte
Typora*
OpenMV
openmv
rustdesk
alacritty/themes
microsoft*
qqmusic/*
obs*
nekoray/*
clash/*
*/cache/*
libre*
menus
kate
ibus
discord
balena*
baidunet*
